<div class="container">
    <div class="row">
        <!-- Footer Location-->
        <div class="col-lg-4 mb-sm-4 mb-lg-0">
            <h4 class="text-uppercase mb-4">Lokalizacja</h4>
            <p class="lead mb-0">
                Opole
            </p>
            <p class="lead mb-0">Opole, ul. Błotna 168</p>
            <p class="lead mb-0">45-130 Opole</p>
        </div>
        <!-- Footer Social Icons-->
        <div class="col-lg-4 mb-sm-4 mb-lg-0">
            <h4 class="text-uppercase text-wrap mb-4">Znajdz nas na mediach społecznościowych</h4>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
        </div>
        <!-- Footer About Text-->
        <div class="col-lg-4 small">
            <h4 class="text-uppercase mb-4"><a href="@Url.Action("AboutUs", "home", new { Area = "home" })">O nas </a></h4>
            <p class="lead text-wrap mb-0">
                Jesteśmy komisem odpowiedzialnym za sprzedaż aut na terenie Opola
            </p>
            <p class="lead text-wrap mb-0">
                Tel. 888 666 123
            </p>
        </div>
    </div>
</div>