@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";
}

<section class="page-section portfolio" id="portfolio">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">O nas</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row justify-content-center">

            <div>

                <h3>INFORMACJE OGÓLNE O SERWISIE</h3>
                <br />
                <p>
                    <br />Komis samochodowy NetCars został uruchomiony w maju 2010 roku i jest jednym z największych serwisów z ogłoszeniami motoryzacyjnymi w Polsce.<br>
                    Codziennie na stronach NetCars prezentujemy tysiące ofert kupna-sprzedaży: samochodów osobowych, terenowych i dostawczych, pojazdów użytkowych oraz motocykli.
                    Naszym użytkownikom umożliwiamy także złożenie zapytania na nowe samochody z salonów z całej Polski w najbardziej atrakcyjnych cenach. Współpracujemy z setkami dealerów i komisów w całej Polsce.<br>
                    Nasz serwis umożliwi Ci dostrzeżenie najbardziej korzystnych ofert dla Ciebie. Pojawia się u nas również wiele promocji na wybrane auta, dzięki czemu każdy mołośnik znjadzie coś dla siebie.<br><br>

                    Oferujemy możliwość umawiania jazdy testowej oraz zgłaszania wszelkich pytań za pomocą panelu kontaktowego.
                    <br><br><br><br><br><br>
                </p>
                <h4>Dane kontaktowe</h4>
                <h5>Nazwa firmy</h5>
                <p><b>NetCars sp.z.o.o</b></p>
                <h5>Adres</h5>
                <p><b>Opole, ul. Błotna 168 <br /> 45-130 Opole</b></p>
                
                <h5>Telefon</h5>
                <p><b>888 666 123</b></p>
                <h5>Godziny otwarcia</h5>
                <p><b>Pon. - Sob. 7:00 - 18:00</b></p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card h-100" data-toggle="modal" data-target="#portfolioModal2">
                        <a href="#"><img class="card-img-top" src="https://bi.im-g.pl/im/0a/f6/10/z17785354IH,Sredni-wiek-sprowadzanych-do-Polski-samochodow-wyn.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>