@{
    ViewData["Title"] = "Home";
    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";
}
<section class="page-section portfolio" id="portfolio">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Promocyjne Oferty</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100" data-toggle="modal" data-target="#portfolioModal1">
                    <a href="#"><img class="card-img-top" src="assets/img/portfolio/nissan.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Nissan</a>
                        </h4>
                        <h5>30.000 PLN</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100" data-toggle="modal" data-target="#portfolioModal2">
                    <a href="#"><img class="card-img-top" src="assets/img/portfolio/nissan.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Passat</a>
                        </h4>
                        <h5>35.000 PLN</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>